#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  #card-main {
    width: 368px;
    margin: 15px;
    background-color: white;
    color: #000;
    #title-card {
      letter-spacing: 2px;
    }
    #image-div {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        box-shadow: 0 0 1em #f5f6f7;
        width: 200px;
      }
    }
    #shopping {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #price-div {
        .span-price {
          margin-right: 10px;
          letter-spacing: 1px;
        }
      }
    }
    #footer {
      #btn-detail {
        margin: 5px;
        width: 97%;
      }
    }
  }
}
