@import "../../../shared/style/variable";
@import "../../../shared/style/button";
@import "../../../shared/style/mixins";
@import "../../../shared/style/reset";



#main-div{
    width: 900px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    #header-card{
        @extend %header-card;
    }
}