@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

%header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #16d6e0;
  align-items: center;
  height: 60px;
  #p-title {
    padding: 10px;
    font-family: Lato, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

%flex-complete {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

%input-stander {
  height: 40px;
  padding: 10px;
  margin: 10px;
}
